body {
    background: rgb(0, 0, 0);
    margin: 100px;

}

.flag {
   width: 600px;
   height: 375px;
   background: white;
   display:table-cell;
   vertical-align: middle;
}
.round-red {
   width: 200px;
   height: 200px;
   background: crimson;
   border-radius: 50%;
}
